.slidecontainer {
    position:relative;
}

.eolSlider {
	max-height:50vh;
	overflow:hidden;
	position:relative;
	} 

	.eolSlider img {
		display:block;
		width:100%;  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

#alt-caption {
	position:absolute;
	bottom:0;
    width:100%;
	z-index:100;
	color:#fff;
    text-shadow:0 0 4px rgba(#000, 0.5);
	padding:1.0em;
	background:rgba(#000,0.5); 
}