/* line 1, /Applications/MAMP/htdocs/stals/wp-content/plugins/eolslider/eol_default.scss */
.slidecontainer {
  position: relative; }

/* line 5, /Applications/MAMP/htdocs/stals/wp-content/plugins/eolslider/eol_default.scss */
.eolSlider {
  max-height: 50vh;
  overflow: hidden;
  position: relative; }

/* line 11, /Applications/MAMP/htdocs/stals/wp-content/plugins/eolslider/eol_default.scss */
.eolSlider img {
  display: block;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* line 19, /Applications/MAMP/htdocs/stals/wp-content/plugins/eolslider/eol_default.scss */
#alt-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 1.0em;
  background: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=eol_default.css.map */